{mode, max}.

{duration, 1}. % minute

{concurrent, 10}.

{driver, basho_bench_erezrdfh}.

{code_paths, [".",
              "deps/msgpack",
              "deps/msgpack_rpc",
              "deps/ranch"
              ]}.


{key_generator, {int_to_bin_bigendian, {uniform_int, 35000}}}.

{value_generator, {fixed_bin, 1200}}.

{msgpack_server, "127.0.0.1"}.
%{msgpack_server, "129.60.150.82"}.
{msgpack_port, 9199}.
