{mode, max}.

{duration, 10}. % minute

{concurrent, 100}.

{driver, basho_bench_erezrdfh}.

{code_paths, ["deps/stats",
	      "/tmp/erezrdfh",
              "deps/erl_msgpack"]}.

{key_generator, {int_to_bin, {uniform_int, 35000}}}.

{value_generator, {fixed_bin, 1200}}.

{msgpack_server, "127.0.0.1"}.
%{msgpack_server, "129.60.150.82"}.
{msgpack_port, 9199}.
